{% extends  'main.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'products.css' %}">
{% endblock %}


{% block content %}
<section>
    <hr class="sep-1">

    <section  class="inner-section-1">
        <h2>.. محصولات ..  </h2>
    </section>

    <section class="inner-section-2">
        <div class="products">

            {% for i in products %}
            <div class="product">

                <div class="h3"><h3>{{ i.product_name }}</h3></div>    

                    <div class="p1"><p>زمان محصول: {{ i.expire_date }}  روز </p></div>
                    <div class="p2"><p>حجم محصول: {{ i.data_limit }}  گیگ</p></div>
                    <div class="p3"><p>قیمت محصول: {{ i.product_price }}  تومان</p></div>

                <hr class="sep-2">
                <div class="btn"><a class="addtocart" href="/products/product_details/{{ i.id }}"> مشاهده محصول</a></div>
            </div>
            {% endfor %}
        </div>
    </section>


<div class="pagination">
  <span class="step-links">
      {% if products.has_previous %}
          
          <a href="?page={{ products.previous_page_number }}">previous</a>
      {% endif %}

      <span class="current">
          Page {{ products.number }} of {{ products.paginator.num_pages }}.
      </span>

      {% if products.has_next %}
          <a href="?page={{ products.next_page_number }}">next</a>
          
      {% endif %}
  </span>
</div>


</section>
{% endblock %}

